/*For desktop*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Navbar start here */

.nav-logo{
   text-align: left;
}
.nav-heading{
   text-align: right;
}
.nav-menu{
   flex-direction: row;
   justify-content: flex-end;
}
.nav-menu a{
   padding: 5px 10px;
   margin:20px 5px;
}

/*Navbar end here*/



/* profile start here */

.Icon .top-icon{
    position: absolute;
    right: 120px;
    top:15px;
    transition: width 3s,transform 2s;
}
.Icon .bottom-icon{
    position: absolute;
    left: 140px;
    bottom: 20px;
    transition: width 3s, transform 2s;
}
.Icon .top-icon:hover{
    width:180px;
}
.Icon .bottom-icon:hover{
    width:180px;
}
.description p{
    color: darkslategray;
    text-align:center;
    width:50%;
    margin:0 auto 10px auto;
}

/* profile end here*/


/* About start here */

.about-image{
    margin-top:80px;
}
.about-image .portfolio2{
    width: 300px;
    height: 300px;
    border-radius: 180px;
}
.about-description p{
    text-align: left;

}

/* About end here */


/* Skill start here */

.skills{
    padding:1.5% 3.5%;
}

/* Skill end here */



/* Contact form start here */

.contact{
    padding-right: 40px;

}
.c-icon{
    position:relative;
}
.cicon-button{
    position: absolute;
    left: 47%;
    right: 50%;
    transform: translate(-50%,-50%);
    margin-top: 200px;
    flex-direction: column;
    display: flex;
}
.contact button{
    width:150px;
}

/* Contact form end here */


/* Footer start here */
 
.footer-menu{
    margin-top: 2px;

}
.footer-menu a{
    display: inline;
    margin: 10px;
}

/* Footer end here */